* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Padding = Retira espaços*/
}

:root {
  --card-title-border-color: #746615;
  --card-group-color: #746615;
  --card-color-primary: #ffd700;
  --bg: url(./assets/bg/bg.svg);

  /* root = seleciona raiz do HTML*/
}

body.yellow {
  --card-title-border-color: #746615;
  --card-group-color: #746615;
  --card-color-primary: #ffd700;
  --bg: url(./assets/bg/bg-yellow.svg);
}

body.blue {
  --card-title-border-color: #338af3;
  --card-group-color: #338af3;
  --card-color-primary: #338af3;
  --card-bg-color: #202024;
  --bg: url(./assets/bg/bg-blue.svg);
}

body.green {
  --card-title-border-color: #1d8433;
  --card-group-color: #1d8433;
  --card-color-primary: #1d8433;
  --card-bg-color: #1a1f1b;
  --bg: url(./assets/bg/bg-green.svg);
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: var(--bg);
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;

  /*fit-content - ajusta as caixas para o tamanho do conteúdo*/
}

main {
  display: flex;
  gap: 32px;
  justify-content: center;

  /*display: flex - deixa os cards lado a lado*/
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  gap: 32px;
  flex-direction: column;

  /*flex-wrap = força itens ficarem na mesma linha ou se podem quebrar em outras linhas*/
}

.card {
  padding: 30px 30px;
  text-align: center;

  background: var(--card-bg-color);
  border-radius: 10px;
  border: 2px solid var(--card-color-primary);

  margin-bottom: 10px;
  height: fit-content;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 2px solid var(--card-title-border-color);
  border-radius: 10px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 10px;

  color: #f7dd43;

  /*Display utilizado somente no elemento*/
}

.card h2 span {
  color: #e1e1e6;
  font-size: 20px;
  text-transform: uppercase;

  /* uppercase = CAIXA ALTA*/
}

.card p {
  display: flex;
  gap: 16px;

  padding: 8px 24px;
  border: 1px solid var(--card-group-color);
  border-radius: 10px;

  width: fit-content;
  margin-bottom: 10px;
  margin-inline: auto;
  margin-top: 10px;

  font-size: 20px;
  color: #e1e1e6;

  /*border-radius = arredondamento de borda*/
  /*padding = preenchimento*/
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;

  /* flex-direction: Coloca um embaixo do outro*/
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul div + li {
  padding-top: 24px;
  border-top: 1px solid var(--card-color-primary);
  padding-bottom: 5px;
}

.card ul li strong {
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  color: #e1e1e6;
}

.card h1,
.card ul li strong,
.card ul li img {
  transition: transfrom 0.5s;
}

.card ul li strong:hover,
.card ul li img:hover {
  transform: rotateX(10deg);
  transform: rotateY(10deg);
  transform: rotateZ(10deg);
}

.card h1:hover,
.card h2:hover,
.card p:hover {
  transform: scale(1.1);
}

.nome-times {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  color: #e1e1e6;
  font-size: 7px;
  text-transform: capitalize;
}

.card {
  opacity: 0;
  animation: appear 3s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;

    /* flex-wrap = coloca um conteúdo ao lado do outro*/
  }
}
