* {
  margin: 0;
  padding: 0; /* Retira espaços*/
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {

  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position-x: center;
  background-position-y: -715px;
  background-repeat: no-repeat;
  background-size: cover;

}

body * {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex; /*display: flex - deixa os cards lado a lado*/
  gap: 32px;
  align-items: flex-start;
  justify-content: center;  
}

#app {
  width: fit-content; /*fit-content - ajusta as caixas para o tamanho do conteúdo*/
  margin: 52px auto;
  max-width: 1400px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

header img {
  width: 200px;
}

#cards {
  display: flex;
  gap: 32px;
  justify-content: center; 
  flex-wrap: wrap; /*força itens ficarem na mesma linha ou se podem quebrar em outras linhas*/
}

.card {
  padding: 40px 40px;
  text-align: center;

  background: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;
  
  justify-content: space-between;
  margin-bottom: 15px;
}

.card h2 {
  display: flex; 
  gap: 30px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid #746615;
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 35px;

  color: #f7dd43;

  /*Display utilizado somente no elemento*/
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;

  /* uppercase = CAIXA ALTA*/
}

.card p {
  display: flex; 
  gap: 30px;

  padding: 8px 16px;
  border: 1px solid #746615;
  border-radius: 6px;

  width: fit-content;
  margin-bottom: 20px;
  margin-inline: auto;
  margin-top: 20px;

  font-size: 15px;
  align-items: center;
  justify-content: center;

  color: #61c002;

  /*border-radius = arredondamento de borda*/
  /*padding = preenchimento*/
}

.card ul {
  display: flex;
  flex-direction: column; /*Coloca um embaixo do outro*/
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #ffd700;
  padding-bottom: 5px;
}

.card ul li strong {
  font-weight: 500;
  font-size: 25px;
  line-height: 125%;
  color: #e1e1e6;
}

.nome-times {
display: flex;
gap: 30px;
justify-content: space-between;
color: #e1e1e6;
font-size: 7px;
text-transform: capitalize;
}
