* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Padding = Retira espaços*/
}

:root {
  --card-title-border-color: #960404;
  --card-group-color: #960404;
  --card-color-primary: #750505;
  --card-bg-color: #1a1f1b;
  --bg: url(./assets/bg/bg-black.svg);

  /* root = seleciona raiz do HTML*/
}

body.yellow {
  --card-title-border-color: #746615;
  --card-group-color: #746615;
  --card-color-primary: #f7dd43;
  --card-bg-color: #3d3315;
  --bg: url(./assets/bg/bg-yellow.svg);
}

body.blue {
  --card-title-border-color: #338af3;
  --card-group-color: #0c3cb6;
  --card-color-primary: #338af3;
  --card-bg-color: #030348;
  --bg: url(./assets/bg/bg-blue.svg);
}

body.green {
  --card-title-border-color: #047c3f;
  --card-group-color: #046332;
  --card-color-primary: #047c3f;
  --card-bg-color: #1a1f1b;
  --bg: url(./assets/bg/bg-green.svg);
}

ul {
  list-style: none;
}

body {
  background: #121214 var(--bg) no-repeat top center/100%;
}
body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;

  /*fit-content - ajusta as caixas para o tamanho do conteúdo*/
}

header {
  margin-bottom: 40px;
  text-align: center;
}

#cards {
  display: flex;
  gap: 32px;
  flex-direction: column;

  margin: 0 auto;
  justify-content: center;

  /*flex-wrap = força itens ficarem na mesma linha ou se podem quebrar em outras linhas*/
}

.card {
  padding: 32px 23px;
  text-align: center;

  background: var(--card-bg-color);
  border: 2px solid var(--card-color-primary);
  border-radius: 6px;

  height: fit-content;
  width: fit-content;

  opacity: 0;
  animation: appear 3s forwards;
}

.card h2 {
  display: flex;
  gap: 16px;
  align-items: center;

  padding: 8px 16px;
  border: 2px solid var(--card-title-border-color);
  border-radius: 10px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 30px;

  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
}

.card ul div + li {
  padding-top: 24px;
  border-top: 2px solid var(--card-group-color);
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

.card p {
  display: flex;
  gap: 16px;

  padding: 8px 16px;
  border: 2px solid var(--card-title-border-color);
  border-radius: 10px;

  margin: auto;
  margin-bottom: 10px;

  color: #e1e1e6;

  /*border-radius = arredondamento de borda*/
  /*padding = preenchimento*/
}

.card h1,
.card ul li strong,
.card ul li img {
  transition: transfrom 0.5s;
}

.card ul li strong:hover,
.card ul li img:hover {
  transform: rotateX(10deg);
  transform: rotateY(10deg);
  transform: rotateZ(10deg);
}

.card h1:hover,
.card h2:hover,
.card p:hover {
  transform: scale(1.1);
}

.nome-times {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  color: #e1e1e6;
  font-size: 7px;
  text-transform: capitalize;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#btn-color {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 2px 2px 5px var(--card-group-color);
  border: 2px solid var(--card-group-color);

  font-weight: bolder;
  border-radius: 20% 20% 20% 20%;
  background-color: transparent;
  color: white;

  height: 50px;
  width: 150px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  transition: all 0.3s linear;
  cursor: pointer;
}

#btn-color:hover {
  transform: scale(1.1);
  color: var(--card-color-primary);
}

/* Dias dos jogos */

#days {
  display: flex;
  padding: 32px 23px;

  margin: 0 auto;
  margin-bottom: 20px;

  width: fit-content;
}

.menu {
  display: flex;
  padding: 8px 16px;
  background: var(--card-bg-color);
  border: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.menu a {
  justify-content: space-between;
  margin-right: 10px;
  color: white;
}

/* Introdução */

.h6{
color: white;
justify-content: center;
align-items: center;
display: flex;
font-size: 80px;
}

.h6:hover{
  transform: scale(1.1);
}